[submodule "dependencies/lua.vm.js"]
	path = dependencies/lua.vm.js
	url = https://github.com/daurnimator/lua.vm.js.git
[submodule "dependencies/nginx-jwt"]
	path = dependencies/nginx-jwt
	url = https://github.com/auth0/nginx-jwt
[submodule "dependencies/ngx_openresty"]
	path = dependencies/ngx_openresty
	url = https://github.com/openresty/ngx_openresty
[submodule "dependencies/sh-realpath"]
	path = dependencies/sh-realpath
	url = https://github.com/mkropat/sh-realpath
