<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar"
              aria-expanded="false"
              aria-controls="navbar">
        <span class="sr-only"><%= translate "headbar:toggle" %></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="home"
         class="navbar-brand"
         href="#"><%= title %>
      </a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><a id="log-in"  href="#" title="<%= translate 'headbar:log-in'  %>" ><i class="fa fa-sign-in" ></i></a></li>
        <li><a id="profile" href="#" title="<%= translate 'headbar:profile' %>"><i class="fa fa-user"     ></i></a></li>
        <li><a id="log-out" href="#" title="<%= translate 'headbar:log-out' %>"><i class="fa fa-sign-out" ></i></a></li>
      </ul>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://github.com/CosyVerif">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/CosyVerif/library/issues/new">
            <i class="fa fa-bug"></i>
          </a>
        </li>
      </ul>
    </div>
    <div id="headbar-user"></div>
  </div>
</nav>
